MSDeployLightening.Client.Console/Service References/ServiceReference1/MSDeployAllTheThings1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ShouldIUseMSDeploy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShouldIUseMSDeployResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShouldIUseMSDeployResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhenShouldIUseMSDeploy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WhenShouldIUseMSDeployResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhenShouldIUseMSDeployResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhoShouldUseMSDeploy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="yourName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhoShouldUseMSDeployResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhoShouldUseMSDeployResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>